<div id="module-page" class="panel">
	<div class="panel-loader" ng-if="module.data == null">
		<ng-include src="'app/general/loader.html'"></ng-include>
	</div>
	<div id="info" class="tile-borderless">
		<h1>{{module.data.classCode}} - {{module.data.name}}</h1>
		<p>{{module.data.description}}</p>
		<div id="staff-info">
			<p>Teaching Staff:</p>
			<ul class="clear-fix">
				<li ng-repeat=" (key, staff) in module.data.teachingStaff">
					{{staff}}<span ng-if="key !== module.data.teachingStaff.length">, </span>
				</li>
				<li ng-if="module.data.teachingStaff.length === 0">
					No registered staff
				</li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<uib-tabset>
			<uib-tab heading="Highlights">
				<div class="tile-paddingless-borderless">
					<h3>Overview</h3>
				</div>
				<div class="tile-paddingless">
					<h3>Warnings</h3>
					<div ng-repeat="(key, warning) in module.data.warnings" class="warning">
						<h3>{{warning.message}}</h3>
						<div ng-if="warning.correctionMessages.length == 0">
							<h4>Suggestions</h4>
							<p ng-repeat="suggestion in warning.correctionMessages">
								{{suggestion}}
							</p>
						</div>
					</div>
				</div>
				<div class="tile-paddingless">
					<h3>Predictions</h3>
					<div>
						<h4>Based on this modules historical attendance data</h4>
						<div class="container">
							<div class="row">
								<div class="col-md-3 prediction-container">
									<p class="type">Using Linear Regression</p>
									<p class="value">{{module.data.predictionGrade_attendance.LINEAR.predicted_value | number:2}}%</p>
									<p>Common Error Range: &#177;{{module.data.predictionGrade_attendance.LINEAR.meanAbsError | number:2}}%</p>
								</div>
								<div class="col-md-3 prediction-container">
									<p class="type">Using SMO Regression</p>
									<p class="value">{{module.data.predictionGrade_attendance.SMO.predicted_value | number:2}}%</p>
									<p>Common Error Range: &#177;{{module.data.predictionGrade_attendance.SMO.meanAbsError | number:2}}%</p>
								</div>
								<div class="col-md-3 prediction-container">
									<p class="type">Using Gaussian Processes</p>
									<p class="value">{{module.data.predictionGrade_attendance.GAUSSIAN.predicted_value | number:2}}%</p>
									<p>Common Error Range: &#177;{{module.data.predictionGrade_attendance.GAUSSIAN.meanAbsError | number:2}}%</p>
								</div>
								<div class="col-md-3 prediction-container">
									<p class="type">Using Multilayer Perceptron</p>
									<p class="value">{{module.data.predictionGrade_attendance.MULTI.predicted_value | number:2}}%</p>
									<p>Common Error Range: &#177;{{module.data.predictionGrade_attendance.MULTI.meanAbsError | number:2}}%</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="Module Overview">

			</uib-tab>
			<uib-tab heading="Your data" select="renderGraphs()">
				<div id="assignments" class="tile-paddingless-borderless">
					<h2>Assignments</h2>
					<p>As logged in the SLATE system.</p>
					<div class="container">
						<div class="row slate-grid">
							<div class="col-md-3 slate-grid-left-side">
								<div id="module-grade-info-holder">
									<div class="module-grade-info">
										<p class="my-text">{{module.data.assignmentMean.mean | number:0}}%</p>
										<p>Your Assignment Average</p>
									</div>
									<div class="module-grade-info">
										<p class="class-text">{{module.data.classAverage | number:0}}%</p>
										<p>Class Assignment Average</p>
									</div>
								</div>
							</div>
							<div class="col-md-9 slate-grid-right-side" id="module-progress-graph-holder">
								<plotly data="module.progressGraph.data" layout="module.progressGraph.layout"
								        options="module.progressGraph.options"></plotly>
							</div>
						</div>
					</div>
					<div id="module-assignment-details">
						<h4>Assignment Details</h4>
						<table class="table table-hover">
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Due Date</th>
								<th>Mark</th>
								<th>Class Average</th>
							</tr>
							<tr ng-repeat="(key, assignment) in module.data.assignments | orderBy: 'assignmentNo'"
							    ng-click="module.navigateAssignment(assignment.name, assignment.id)" class="clickable">
								<td>{{assignment.assignmentNo}}</td>
								<td>{{assignment.name}}</td>
								<td>{{assignment.dueDate}}</td>
								<td>{{assignment.percentage}}%</td>
								<td>{{assignment.average.mean | number:0}}%</td>
							</tr>
						</table>
					</div>
				</div>
				<div id="attendance" class="tile-paddingless">
					<h2>Attendance</h2>
					<br>
					<div class="container-full-width">
						<div class="row">
							<div class="col-md-3 prediction-container" ng-repeat="(key, mean) in module.data.overallAttendanceMean">
								<p class="type">{{key}}</p>
								<p class="value">{{mean.mean | number:2}}%</p>
							</div>
						</div>
					</div>
					<br>
					<br>
					<slate-graphs-attendance-graph data="{attendance: module.data.attendanceMean}"uniqueid="personalAttendanceGraph"></slate-graphs-attendance-graph>
				</div>
			</uib-tab>
			<uib-tab heading="Your Goals" select="updateSliders()">
				<slate-user-goals-sliders attendance="module.goals.attendance"
				                          attainment="module.goals.attainment"></slate-user-goals-sliders>
			</uib-tab>
		</uib-tabset>
	</div>
</div>