<div id="module-admin-page" class="panel">
	<div class="panel-loader" ng-if="module.data == null">
		<ng-include src="'app/general/loader.html'"></ng-include>
	</div>
	<div id="info" class="tile-borderless">
		<h1>{{module.data.classCode}} - {{module.data.name}}</h1>
		<p>{{module.data.description}}</p>
		<div id="staff-info">
			<p>Teaching Staff:</p>
			<ul class="clear-fix">
				<li ng-repeat=" (key, staff) in module.data.teachingStaff">
					{{staff}}<span ng-if="key !== module.data.teachingStaff.length">, </span>
				</li>
				<li ng-if="module.data.teachingStaff.length === 0">
					No registered staff
				</li>
			</ul>
		</div>
	</div>
	<div class="tile">
		<h2>Class Information</h2>
		<uib-tabset>
			<uib-tab heading="Overview" active="tab.active" disable="tab.disabled">
				<div class="tile-paddingless-borderless">
					<h3>Overview</h3>
					<div class="container container-full-width">
						<div class="row overview-facts">
							<div class="col-md-3">
								<p>{{module.data.passRate |number:0}}%</p>
								<p>Pass Rate</p>
								<p>{{module.stats.passratephrase}}</p>
							</div>
							<div class="col-md-3">
								<p>{{module.data.classAverage.mean | number:0}}%</p>
								<p>Mark Average</p>
								<p>{{module.stats.classaveragephrase}}</p>
							</div>
							<div class="col-md-3">
								<p>{{module.data.attendanceAverage.mean | number:0}}%</p>
								<p>Attendance Average</p>
								<p>{{module.stats.attendanceaveragephrase}}</p>
							</div>
							<div class="col-md-3">
								<p>{{module.data.noStudents | number:0}}</p>
								<p>Total Students Taken Class</p>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-paddingless">
					<h3>Final Marks</h3>
					<p>This section provides information on the final mark attained by students.</p>
					<div class="container container-full-width">
						<div class="row">
							<div class="col-md-3">
								<p style="padding: 2rem 0 5rem;">This graph shows the final grade trend over the modules years.</p>
								<form style="display: table">
									<div class="form-group" style="display: table-row">
										<label for="standardDeviation" class="control-label" style="display: table-cell; vertical-align: middle">Show Standard Deviation</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="standardDeviation" name="standardDeviation" ng-model="module.yearFinalMarkGraph.userOptions.stdDev"></switch>
										</div>
									</div>
									<div class="form-group" style="display: table-row">
										<label for="minmax" class="control-label" style="display: table-cell; vertical-align: middle">Show Min / Max Values</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="minmax" name="minmax" ng-model="module.yearFinalMarkGraph.userOptions.minMax"></switch>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-9" id="year-final-mark-graph-holder">
								<plotly data="module.yearFinalMarkGraph.data" layout="module.yearFinalMarkGraph.layout" options="module.yearFinalMarkGraph.options"></plotly>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-paddingless">
					<h3>Grades</h3>
				</div>
				<div class="tile-paddingless">
					<h3>Attendance</h3>
					<p>This section contains details about the classes attendance. It is worth noting that the quality of data here is lacking due to institutional things.</p>
					<div class="container container-full-width">
						<div class="row">
							<div class="col-md-3">
								<p style="padding: 2rem 0 5rem;">This graph shows the final grade trend over the modules years.</p>
								<form style="display: table">
									<div class="form-group" ng-repeat="(key, sessiontype) in module.moduleAttendanceGraph.userOptions.sessiontypes" style="display: table-row">
										<label for="standardDeviation" class="control-label" style="display: table-cell; vertical-align: middle">Show {{sessiontype.name | capitalize}} sessions</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="standardDeviation" name="standardDeviation" ng-model="sessiontype.display"></switch>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-9" id="module-attendance-graph-holder">
								<plotly data="module.moduleAttendanceGraph.data" layout="module.moduleAttendanceGraph.layout" options="module.moduleAttendanceGraph.options"></plotly>
							</div>
						</div>
					</div>
				</div>
				<div class="tile-paddingless">
					<h3>Attendance vs Attainment</h3>
					<p>This section contains details about the classes attainment compared to attendance</p>
					<div class="container container-full-width">
						<div class="row">
							<div class="col-md-3">
								<form style="display: table">
									<br>
									<br>
									<div class="form-group" ng-repeat="(key, sessiontype) in module.moduleAttendanceAttainmentGraph.userOptions.sessiontypes" style="display: table-row">
										<label for="standardDeviation" class="control-label" style="display: table-cell; vertical-align: middle">Show {{sessiontype.name | capitalize}} sessions</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="standardDeviation" name="standardDeviation" ng-model="sessiontype.display"></switch>
										</div>
									</div>
									<br>
									<div class="form-group" style="display: table-row">
										<label for="standardDeviation" class="control-label" style="display: table-cell; vertical-align: middle">Show Scatter</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="standardDeviation" name="standardDeviation" ng-model="module.moduleAttendanceAttainmentGraph.userOptions.showScatter"></switch>
										</div>
									</div>
									<div class="form-group" style="display: table-row">
										<label for="standardDeviation" class="control-label" style="display: table-cell; vertical-align: middle">Show Best Fit</label>
										<div style="display: table-cell; padding-left: 1rem">
											<switch id="standardDeviation" name="standardDeviation" ng-model="module.moduleAttendanceAttainmentGraph.userOptions.showBestFit"></switch>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-9" id="module-attendance-graph-holder">
								<plotly data="module.moduleAttendanceAttainmentGraph.data" layout="module.moduleAttendanceAttainmentGraph.layout" options="module.moduleAttendanceAttainmentGraph.options"></plotly>
							</div>
						</div>
						<div class="tile tile-paddingless-borderless">
							<h4>Further Details</h4>
							<div class="row tile tile-paddingless-borderless" ng-repeat="(key, value) in module.moduleAttendanceAttainmentGraph.userOptions.sessiontypes" ng-if="value.display">
								<div class="color-block" ng-style="{'background': '{{value.color}}'}"></div>
								<h5 style="padding-left: .9375rem; display: inline-block">{{value.name | capitalize}} Sessions</h5>
								<div class="container container-full-width">
									<div class="row attendance-attainment-facts">
										<div class="col-md-3 highlight">
											<p>{{module.data.attendanceAttainmentCorrelation[key].pearson | number: 2}}</p>
											<p uib-tooltip="The pearson value is a measure of how 'tight' the correlation is. The higher this value the more certain you can be that the correlation exists.">Pearson Value</p>
										</div>
										<div class="col-md-9">
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson >= 0.5">
												A pearson value with this range is considered a strong correlation. This means that the attending {{value.name}} sessions appears to have a significant positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson >= 0.3 && module.data.attendanceAttainmentCorrelation[key].pearson < 0.5">
												A pearson value with this range is considered a moderate correlation. This means that the attending {{value.name}} sessions appears to have an positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson > 0.1 && module.data.attendanceAttainmentCorrelation[key].pearson < 0.3">
												A pearson value with this range is considered a week correlation. This means that the attending {{value.name}} sessions appears to have a little impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson > -0.1 && module.data.attendanceAttainmentCorrelation[key].pearson < 0.1">
												A pearson value with this range is considered a week correlation. This means that the attending {{value.name}} sessions appears to have no impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson <= -0.1 && module.data.attendanceAttainmentCorrelation[key].pearson < -0.3">
												A pearson value with this range is considered a week correlation. This means that the attending {{value.name}} sessions appears to have a little detrimental impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson <= -0.3 && module.data.attendanceAttainmentCorrelation[key].pearson > -0.5">
												A pearson value with this range is considered a moderate negative correlation. This means that the attending {{value.name}} sessions appears to have an detrimental impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].pearson < -0.5">
												A pearson value with this range is considered a strong negative correlation. This means that the attending {{value.name}} sessions appears to have a significant detrimental impact on the final grade of students.
											</p>
										</div>
									</div>
									<div class="row attendance-attainment-facts">
										<div class="col-md-3 highlight">
											<p>{{module.data.attendanceAttainmentCorrelation[key].linearSlope | number: 2}}</p>
											<p>Linear Slope</p>
										</div>
										<div class="col-md-9">
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearSlope >= 0.5">
												A pearson value with this range is considered a strong correlation. This means that the attending {{value.name}} sessions appears to have a significant positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearSlope >= 0.3 && module.data.attendanceAttainmentCorrelation[key].linearSlope < 0.5">
												A pearson value with this range is considered a moderate correlation. This means that the attending {{value.name}} sessions appears to have an positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearSlope > -0.3 && module.data.attendanceAttainmentCorrelation[key].linearSlope < 0.3">
												A pearson value with this range is considered a week correlation. This means that the attending {{value.name}} sessions appears to have a little to no impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearSlope <= -0.3 && module.data.attendanceAttainmentCorrelation[key].linearSlope > -0.5">
												A pearson value with this range is considered a moderate negative correlation. This means that the attending {{value.name}} sessions appears to have an detrimental impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearSlope < -0.5">
												A pearson value with this range is considered a strong negative correlation. This means that the attending {{value.name}} sessions appears to have a significant detrimental impact on the final grade of students.
											</p>
										</div>
									</div>
									<div class="row attendance-attainment-facts">
										<div class="col-md-3 highlight">
											<p>{{module.data.attendanceAttainmentCorrelation[key].linearIntercept | number: 2}}</p>
											<p>Linear Intercept</p>
										</div>
										<div class="col-md-9">
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearIntercept >= 0.5">
												A pearson value with this range is considered a strong correlation. This means that the attending {{value.name}} sessions appears to have a significant positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearIntercept >= 0.3 && module.data.attendanceAttainmentCorrelation[key].linearIntercept < 0.5">
												A pearson value with this range is considered a moderate correlation. This means that the attending {{value.name}} sessions appears to have an positive impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearIntercept > -0.3 && module.data.attendanceAttainmentCorrelation[key].linearIntercept < 0.3">
												A pearson value with this range is considered a week correlation. This means that the attending {{value.name}} sessions appears to have a little to no impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearIntercept <= -0.3 && module.data.attendanceAttainmentCorrelation[key].linearIntercept > -0.5">
												A pearson value with this range is considered a moderate negative correlation. This means that the attending {{value.name}} sessions appears to have an detrimental impact on the final grade of students.
											</p>
											<p ng-if="module.data.attendanceAttainmentCorrelation[key].linearIntercept < -0.5">
												A pearson value with this range is considered a strong negative correlation. This means that the attending {{value.name}} sessions appears to have a significant detrimental impact on the final grade of students.
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab ng-repeat="(key, year) in module.data.yearsAsArray" heading="{{year.year}}">
				<slate-module-admin-view-year args="{key: key, year: year, classCode: module.data.classCode}"></slate-module-admin-view-year>
			</uib-tab>
			<uib-tab ng-if="module.data.years.length === 0" heading="No years to display" disable="true">
			</uib-tab>
		</uib-tabset>
	</div>
</div>