/*
 * This a partial for the SLATE SPA client
 *
 * This partial contains the colors, thats it
 */

$background-color: #1A2E5A;
$background-light: #3055A6;
$background-dark: #132140;

$background: #1F1F1F;

$color-light: #0078AE;
$color-dark: #1A2E5A;

$highlight: #F47B20;

$grey-light: #EFEFEF;
$grey-normal: #8D8F93;
$grey-dark: #292A2B;

.my-text{
	color: $highlight;
}

.class-text{
	color: $background-light;
}