rzslider .rz-pointer{

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	top: -7px;
	z-index: 3;
	width: 16px;
	height: 16px;
	cursor: pointer;
	background-color: $background-light;

	&:after{
		content: none;
	}
}

rzslider .rz-bar{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: #eee;
}