
.user-login-page{
	background-color: $background-color;

	.user-login-wrapper{
		padding-top: 7.5rem;
	}

	.user-login-container{
		width: 35%;
		min-width: 600px;
		margin: auto;
		padding: 2rem;
		background-color: white;

		h1{
			text-align: center;
			padding-bottom: 2rem;
			border-bottom: 1px solid #aaa;
		}

		form{
			padding-top: 1rem;
			padding-bottom: 1rem;
		}

		button{
			width: 100%;
			display: block;
		}
	}
}

#user-profile{

	#user-info{

		#user-info-image{
			float:left;
			padding: 0 1rem;
			width: 200px;

			img{
				width: 100%;
			}
		}

		#user-info-details{
			width: calc( 100% - 2rem - 2rem - 200px);
			float: left;
			padding: 0 1rem;

			table{
				width: 100%;
				table-layout: fixed;

				td{
					padding: 0.2rem 0.5rem;
				}

				td:first-of-type{
					width: 200px;
					overflow: hidden;

					&:after{
						display: block;
						content: '-';
						float: right;
					}
				}
			}
		}
	}

	#user-enrollment{
		.slate-table{

			th:first-of-type, td:first-of-type{
				width: 200px;
			}
		}
	}
}