<div id="nav">
	<div ng-if="app.user.role === 'STUDENT'">
		<ul id="nav-parts"  ng-click="navigate()">
			<li ui-sref="frame.dashboard" class="clickable">Overview</li>
			<li ng-repeat="(key, year) in app.user.enrolledModules" ng-class="{'current': nav.showSubPartList[key]}">
				<div id="nav-parts-sub">
					<p class="nav-parts-sub-title clickable" ng-click="nav.showSubPart(key)">{{year.year}}</p>
					<ul ng-class="{'show': nav.showSubPartList[key]}">
						<li ng-repeat="module in year.modules | orderBy: 'classCode' : reverse">
							<a ng-click="navigateModule(module.year, module.classCode)" class="clickable">{{module.classCode}} - {{module.name}}</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
	<div ng-if="app.user.role === 'ADMIN'">
		<ul id="nav-parts" class="clickable">
			<li ng-click="nav.adminOverview()">Overview</li>
			<li ng-click="nav.adminModules()">Modules</li>
			<li ng-click="nav.adminStudents()">Students</li>
		</ul>
	</div>
	<ul id="nav-help" class="clickable" ng-click="navigate()">
		<li><a href="https://slate.ovh">About</a></li>
		<li><a href="https://github.com/ConfuddledPenguin/SLATE/issues">Bugs</a></li>
	</ul>
</div>