<div id="nav">
	<ul id="nav-parts" class="clickable" ng-click="navigate()">
		<li ui-sref="page.dashboard" ui-sref-active="current"><p>Dashboard</p></li>
		<li ui-sref="page.fridges" ui-sref-active="current"><p>Fridges</p></li>
		<li ui-sref="page.products" ui-sref-active="current"><p>Products</p></li>
	</ul>
	<ul id="nav-help" class="clickable" ng-click="navigate()">
		<li><a href="https://acronym.ovh/about">About</a></li>
		<li ui-sref="page.support" ui-sref-active="current">Support</li>
		<li><a href="https://github.com/nightpaws/Elite-Team-6/issues">Bugs</a></li>
	</ul>
</div>