<div id="header-back" class="clickable" ng-click="back()" ng-class="{'no-display': !app.displayBack }">

</div>
<div id="header-menu" class="clickable" ng-click="toggleGlobalMenu()" ng-class="{'no-display': app.displayBack }">

</div>
<div id="header-name">
	<a ui-sref="frame.dashboard"><p>SLATE</p></a>
</div>
<div id="header-content">
	<p>{{app.stateTitle}}</p>
</div>
<div id="header-user" class="clickable" ng-click="toggleUserMenu()">
	<p ng-if="app.user.name !== null">{{app.user.name}}</p>
	<p ng-if="app.user.name === null">{{app.user.username}}</p>
	<img ng-src="{{imageurl}}">
</div>
<div id="header-user-menu" ng-class="{'no-display': !showUserMenu}">
	<ul class="clickable" ng-click="toggleUserMenu()">
		<li ng-click="profile()">Profile</li>
		<li ng-click="logout()">Logout</li>
	</ul>
</div>